select{
    width: 300px;
    padding-left:1em;
    background-color: white;
}
input{
    width: 300px;
    padding-left:1em;
    width: 300px;
    background-color: white;
}
select.large {
    height: 60px;
}
select.medium{
    height: 46px;
}
select.small{
    height: 38px;
}
input.large {
    height: 60px;
}
input.medium{
    height: 46px;
}
input.small{
    height: 38px;
}
input.filled {
    background-color: rgba(250,250,251);
}
select.filled {
    background-color: rgba(250,250,251);
}
.number-form{
    display:flex;
    width: 116px;
    height: 46px;
    background-color: rgba(250,250,251);

}
.number-form input{
    width:33%;
    text-align: center;
    background-color: rgba(250,250,251);
    border: none;
}
.number-form button{
    width:33%;
    padding:0px;
    color:rgba(51,160,255);
    background-color: rgba(250,250,251);
    border:none;
}
#textButton{
    height: 100%;
    width: 30%;
    padding: 2.5% 5%;
}
#textButtonField{
    height:100%;
    width: 70%;
}